.nav{
   
    width: 100%;
    display:inline-block;
    /* position: relative; */
    /* z-index: 9999;     */
    background: #fff;
    margin-top: 450px;
    
}
.nav ul{
    width: 100%;
    padding: 10px 0;
    /* position: absolute; */
    /* top: 300px; */
    z-index: 2;
    
}
li{
    width :25%;
    float: left;

}
.non a{
    display: block;
}
.shilia img{
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
}
a .size{
    text-align:  center;
    color: #666666;
    font-size: 12px;
    padding: 6px 0;
}