.product
{
    position: absolute;
    top:330px;
    width: 100%;
}
.product>.product_box
{
    width: 100%;
    background: #fff;
    margin-top: 10px;
    box-shadow: 0 0 1px #4d4a4a;
}
.product>.product_box>.product_box_tit
{
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #706b6b;
}
.product>.product_box>.product_box_tit.no_border
{
    border-bottom: none;
}
.product>.product_box>.product_box_tit>h3
{
    font-weight: normal;
    font-size: 15px;
    padding-left: 20px;
    position: relative;
    color: #666;
}
.product>.product_box>.product_box_tit>h3::before
{
    content:"";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 3px;
    height: 12px;
    background: #d8505c;
}
/* 掌上秒杀 */
.hm_sk .sk_icon
{
    background:url(img/钱.png)no-repeat;
    background-size: 20px 20px;
    width: 18px;
    height: 20px;
    float: left;
    margin-top: 6px;
}
.hm_sk .sk_name
{
    padding-left: 5px;
    color: #d8505c;
    font-size: 15px;
    float: left;
}
.hm_sk .sk_time
{
    float: left;
    margin-top: 8px;
}
.hm_sk .sk_time>span
{
    float:left;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    background: #333;
    color: #fff;
    margin-left: 3px;
}
.hm_sk .sk_time>span:nth-child(3n)
{
    background: #fff;
    color: #333;
    width: 5px;
}
.hm_sk .product_box_con>ul
{
width: 100%;
font-size: 12px;
/* padding: 10px 0; */
}
.hm_sk .product_box_con>ul>li
{
    width: 33.333%;
    float: left;
    text-align: center;
}
.hm_sk .product_box_con>ul>li>a
{
    display: block;
    width: 100%;
    border-right: 1px solid #e0e0e0;
}
.hm_sk .product_box_con>ul>li:last-child>a
{
    border-right: 0;
}
.hm_sk .product_box_con>ul>li>a>img
{
    width: 64%;
    display: block;
    margin: 0 auto;
}
.hm_sk .product_box_con>ul>li>p:first-of-type
{
    color: #d8505c;
    padding-top: 5px;
}
.hm_sk .product_box_con>ul>li>p:last-of-type
{
    text-decoration: line-through;
    color: #666;
    padding-top: 5px;
}
.f_right{
    float:right ;
    margin-right: 20px;
}
.clearfix{
    position: absolute;
    top: 45px;
}
.proct{
    width: 100%;
}
.tup img{
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.tup {
    display: block;
    width: 100%;
    border-right: 1px solid #e4cfcf;
}
.nr{
    width: 33.333%;
    float: left;
    text-align: center;
    
}
.size2
{
    padding-top: 20px;
 color: #d8505c;
 
}
.clanr{
    width: 100%;
    font-size: 12px;
}


